@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  margin: 0rem 10%;
  background: #f1f1f1;
  --primary: #2d2d2d;
  --secondary: #535353;
}

h1 {
  font-size: 2rem;
  color: var(--primary);
  padding: 2rem 0rem;
}

h2 {
  font-size: 1.2rem;
  color: var(--primary);
  padding: 0.5rem 0rem;
}
h3 {
  font-size: 1rem;
  color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  line-height: 150%;
  color: var(--secondary);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}

.not-found {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.inputBox {
  display: flex;
  width: 100%;
  padding: 2px;
  background: rgb(241, 241, 241);
  margin-bottom: 2px;
}

.inputBox input {
  padding: 10px;
  width: 100%;
  margin: 2px 0;
  border: 2px solid #eee;
  border-radius:4px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.success-order {
  display: grid;
  justify-content: center;
  padding: 2px;
  margin: 10px 0;
}
